<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ILoginMapper">

	
	<select id="checkLogin" parameterType="ProjectsDTO" resultType="ProjectsDTO">
	SELECT USER_ID,USER_PWD,USER_NAME,USER_ALLERGY
	FROM USER_INFO
	WHERE USER_ID = #{user_id} and USER_PWD = #{user_pwd}
	</select>
	
	<select id="getAllergy" parameterType="ProjectsDTO" resultType="ProjectsDTO">
	SELECT USER_ALLERGY
	FROM USER_INFO
	WHERE USER_ID = #{user_id} and USER_PWD = #{user_pwd}
	</select>
	
</mapper>