<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IJoinMapper">

	<!-- ======== 회원가입 ======== -->
	
	<insert id = "insertinfo" parameterType="ProjectsDTO"> 
		INSERT INTO USER_INFO(
			USER_ID,
			USER_PWD,
			USER_NAME,
			USER_DATE,
			USER_GENDER,
			USER_ALLERGY,
			REG_ID,
			CHG_ID,
			USER_LANG
		) values(
			#{user_id},
			#{user_pwd},
			#{user_name},
			#{user_date},
			#{user_gender},
			#{user_allergy},
			#{user_id},
	   	    #{user_id},
	   	    #{user_lang}
		)
	</insert>
	
	<!-- 이메일(아이디)로 회원 가입 중복 방지하기 -->		
	<select id="getUserExists" parameterType="ProjectsDTO" resultType="ProjectsDTO">
		 SELECT 
		 (CASE WHEN COUNT(1) THEN 'Y' ELSE 'N' END) AS EXISTS_YN
		 FROM USER_INFO 
		 WHERE USER_ID=#{user_id}
	</select>
</mapper>