<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ISearchAllerMapper">

	
	<select id="getAllergyInfo" parameterType="SearchAllerDTO" resultType="SearchAllerDTO">
	SELECT FOOD_NAME, FOOD_MATERIAL, FOOD_ALLERGY, FOOD_KCAL
	FROM ALLERGY_INFO
	WHERE FOOD_NAME = #{food_name}
	</select>
	
</mapper>