<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.IMypageMapper">

<update id="updateAller" parameterType="ProjectsDTO">
	UPDATE USER_INFO
		SET USER_ALLERGY=#{user_allergy}
		WHERE USER_ID=#{user_id}
</update>
</mapper>